html, body {
padding: 0;
margin: 0;
}
body, div, p {
font-family: Arial, Helvetica, Verdana;
color: #333;
}
p{margin:5px 0px 5px 0px;padding:0px 0px 0px 5px;
font-size: 12px;
}
.wrapper {
width: 610px;
margin: 0px auto;
padding: 5px;
}
.yt-thumb-list {
margin: 0px auto;
width: 610px;
}
.yt-thumb-list ul {
margin: 0px auto;
padding: 0;
list-style: none;
display: block;
height:117px;
}
.yt-thumb-list li {
font-size: 11px;
color: #999;
text-align: center;
background-color: #f8f8f8;
border: 1px solid #999;
width: 140px;
height: 100px;
position:relative;
padding: 0;
margin: 4px;
display: block;
float: left;
}
.yt-thumb-list li  a {
display: block;
}
.yt-thumb-list li  a img {
display: block;
border:none;
}
.yt-thumb-list li  a .overlay {
background: url("../images/play.png") no-repeat scroll center center transparent;
font-size: 12px;
height: 100px;
left: 0;
position: absolute;
text-indent: -9999px;
top: 0;
width: 140px;
}
.yt-thumb-list li  a:hover .overlay {
background: url("../images/overlay.png") repeat scroll 0 0 transparent;
display: block;
text-indent: 0;
}
.yt-thumb-list li a .artist {
color: #FFFFFF;
display: block;
font-weight: bold;
padding: 10px 10px 0;
}
.yt-thumb-list li a .title {
color: #CCCCCC;
display: block;
padding: 10px 10px;
}
.clearfix {
float: none;
clear: both;
}
